body {
  min-width: 1024px;
}
a {
  color: #317500;
  text-decoration: none;
}
table {
  margin: 0 auto;
}
td {
  padding: 5px 25px;
  text-align: center;
}
img {
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.header {
  clear: both;
  margin: 0 auto;
  width: 1004px;
  padding: 0 10px;
  height: 42px;
  border-bottom: thin solid #C0C0C0;
}
.header .title {
  float: left;
  padding: 11px 3px;
}
.header .controls {
  float: right;
}
.header .controls a {
  display: inline-block;
  padding: 15px 7px 0 7px;
  text-decoration: none;
  color: #317500;
}
.header .controls a:hover {
  text-decoration: underline;
}
.header .controls a.highlight {
  text-decoration: underline;
}
.clear {
  clear: both;
}
#header #upperHeader {
  clear: both;
}
#header #upperHeader #title {
  float: left;
  padding: 50px;
}
#header #upperHeader #description {
  float: right;
  width: 500px;
}
#header #lowerHeader {
  clear: both;
}
#header #lowerHeader .open-menu {
  display: none;
  padding: 10px;
}
#header #lowerHeader .close-menu {
  display: none;
  padding: 10px;
  z-index: 99;
  background-color: #317500;
  color: white;
  -moz-border-radius-topleft: 10px;
  -khtml-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -khtml-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
#header #lowerHeader .close-menu a {
  color: white;
}
#header #lowerHeader .menu {
  display: none;
  position: absolute;
  padding: 10px;
  z-index: 100;
  top: 63px;
  left: 3px;
  background-color: white;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#header #lowerHeader .menu .menu-section {
  padding: 10px;
  border-bottom: thin solid #C0C0C0;
}
#header #lowerHeader .menu .menu-bottom {
  padding: 10px;
}
#header #lowerHeader #navigation {
  float: left;
  margin-top: 3px;
}
#header #lowerHeader #cart {
  float: right;
}
#header #lowerHeader #grower {
  float: right;
}
#header #lowerHeader #account {
  float: right;
}
#header #search {
  clear: both;
  padding: 10px;
  text-align: center;
}
#header #search input {
  margin: 5px;
  padding: 5px;
}
#header #search input[type=text] {
  width: 400px;
}
#header #search input[type=submit] {
  text-align: center;
}
#header #search select {
  margin: 5px;
  padding: 5px;
}
#main {
  width: 1024px;
  margin: 50px auto;
  font: normal 14px 'Lucida Grande', Verdana, Arial, sans-serif;
}
#main #tagLegend {
  margin: 10px auto;
  text-align: center;
}
#main .browser {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
#main .browser .amount-form {
  display: none;
  position: absolute;
  z-index: 900;
  width: 150px;
  background-color: white;
  padding: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#main .browser .amount-form input {
  width: 75px;
}
#main .browser .product {
  float: left;
  position: relative;
  width: 200px;
  height: 290px;
  padding: 0;
  margin: 20px;
  text-align: center;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#main .browser .product .boxlink {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 290px;
  border: none;
  z-index: 0;
}
#main .browser .product .name,
#main .browser .product .farm,
#main .browser .product .tags,
#main .browser .product .left,
#main .browser .product .right,
#main .browser .product .center {
  background-color: white;
  margin: 0;
  color: #444444;
  opacity: 0.80;
}
#main .browser .product .name {
  clear: both;
  height: 14px;
  padding: 3px 0;
  font-size: 13px;
  -moz-border-radius-topright: 10px;
  -khtml-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -khtml-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}
#main .browser .product .farm {
  clear: both;
  font-size: 10px;
  height: 10px;
  padding: 5px 0;
}
#main .browser .product .tags {
  clear: both;
  height: 12px;
  font-size: 12px;
  margin-top: 200px;
  padding: 4px 0;
}
#main .browser .product .left {
  position: absolute;
  bottom: 0;
  width: 66px;
  height: 30px;
  text-align: center;
  -moz-border-radius-bottomleft: 10px;
  -khtml-border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#main .browser .product .left .text {
  margin-top: 5px;
  font-size: 12px;
}
#main .browser .product .center {
  position: absolute;
  bottom: 0;
  left: 66px;
  width: 68px;
  height: 30px;
  text-align: center;
}
#main .browser .product .center .text {
  margin-top: 5px;
  font-size: 12px;
}
#main .browser .product .right {
  position: absolute;
  bottom: 0;
  left: 134px;
  width: 66px;
  height: 30px;
  text-align: center;
  -moz-border-radius-bottomright: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#main .browser .product .right .text {
  margin-top: 1px;
  font-size: 12px;
}
#main .browser .farmBadge {
  float: left;
  position: relative;
  width: 200px;
  height: 290px;
  padding: 0;
  margin: 20px;
  text-align: center;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#main .browser .farmBadge .name,
#main .browser .farmBadge .tags,
#main .browser .farmBadge .left,
#main .browser .farmBadge .right,
#main .browser .farmBadge .center {
  background-color: white;
  margin: 0;
  color: #444444;
  opacity: 0.80;
}
#main .browser .farmBadge .name {
  clear: both;
  height: 14px;
  padding: 3px 0;
  font-size: 13px;
  -moz-border-radius-topright: 10px;
  -khtml-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -khtml-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}
#main .browser .farmBadge .tags {
  clear: both;
  height: 12px;
  font-size: 12px;
  margin-top: 200px;
  padding: 4px 0;
}
#main .browser .farmBadge .left {
  position: absolute;
  bottom: 0;
  width: 66px;
  height: 30px;
  text-align: center;
  -moz-border-radius-bottomleft: 10px;
  -khtml-border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#main .browser .farmBadge .left .text {
  margin-top: 5px;
  font-size: 12px;
}
#main .browser .farmBadge .center {
  position: absolute;
  bottom: 0;
  left: 66px;
  width: 68px;
  height: 30px;
  text-align: center;
}
#main .browser .farmBadge .center .text {
  margin-top: 5px;
  font-size: 12px;
}
#main .browser .farmBadge .right {
  position: absolute;
  bottom: 0;
  left: 134px;
  width: 66px;
  height: 30px;
  text-align: center;
  -moz-border-radius-bottomright: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#main .browser .farmBadge .right .text {
  margin-top: 1px;
  font-size: 12px;
}
#main .formWrapper input {
  margin: 5px;
  padding: 5px;
}
#main .formWrapper input[type=text] {
  width: 600px;
}
#main .formWrapper input[type=password] {
  width: 600px;
}
#main .formWrapper input[type=submit] {
  display: block;
  margin: 10px auto;
  text-align: center;
}
#main .formWrapper textarea {
  margin: 5px;
  padding: 5px;
  width: 600px;
  height: 200px;
}
#main .formWrapper select {
  margin: 5px;
  padding: 5px;
}
#main .formWrapper select[multiple=multiple] {
  height: 150px;
}
#main .formWrapper label {
  display: inline-block;
  margin: 5px;
  width: 200px;
  padding: 5px;
  vertical-align: top;
}
#main .viewPanel {
  float: left;
  width: 800px;
}
#main .viewPanel.formWrapper input[type=text] {
  width: 500px;
}
#main .viewPanel.formWrapper input[type=password] {
  width: 500px;
}
#main .viewPanel.formWrapper textarea {
  width: 500px;
}
#main #cartView input[type=text] {
  width: 100px;
}
#main #farmView .contact {
  float: left;
  width: 400px;
  padding: 20px;
}
#main #farmView .contact .label {
  font-style: italic;
}
#main #farmView .description {
  padding: 20px 0;
}
#main #farmView .browser {
  padding-top: 20px;
}
#main #productView .fields {
  float: left;
  width: 400px;
  padding: 20px;
}
#main #productView .fields .label {
  font-style: italic;
}
#main #productView .description {
  padding: 20px 0;
}
#main #productView .image {
  float: left;
  margin: 10px;
}
#main #productView .tags {
  padding: 10px;
}
#main #productView .tags .tag {
  display: inline-block;
  padding: 5px;
  margin: 10px 5px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: white;
  border: thin solid #C0C0C0;
}
#main #productView .farm {
  clear: both;
  padding: 10px;
}
#main #productView label {
  display: inline-block;
  width: 150px;
}
#main #growerControls {
  float: left;
  width: 200px;
}
#main #adminControls {
  float: left;
  width: 200px;
}
#main #growerDashboard .farm {
  text-align: left;
}
#main #growerDashboard .table-controls {
  text-align: right;
}
#main #growerDashboard .name {
  display: inline-block;
  float: left;
  margin-left: 50px;
}
#main #growerDashboard .productControls {
  display: inline-block;
  float: right;
  margin-right: 50px;
}
#main #growerDashboard .products {
  clear: both;
  margin: 10px auto;
  width: 750px;
}
#main #growerDashboard .products td {
  padding: 5px;
}
#main #growerDashboard .products .columns {
  font-weight: bold;
}
#main #growerOrders {
  float: left;
  width: 800px;
}
#main #growerOrders .order {
  padding: 10px;
  border-top: thin solid #C0C0C0;
}
#main #growerOrders .order .controls {
  float: right;
}
#main #growerOrders .order .customer .name {
  font-weight: bold;
}
#main #growerOrders .order .order-table-header td {
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 20px;
}
#main #growerOrders .order .order-table-total td {
  padding-top: 20px;
  padding-bottom: 20px;
}
#main #growerOrders .order .order-table-total td.label {
  font-weight: bold;
}
#main #userLogin p {
  text-align: center;
}
